

.bdfb_profile_li {
    padding: 7px 12px;
}

.timelineReportContainer .bdfb_profile_li {
    padding: 4px 4px 4px 0;
}

.bdfb_profile_li > .bdfb_y {
    display: inline-block;
    width: 22px;
    padding-left: 2px;
    color: #0E4C92; /* Yale Blue */
    font-weight: bold;
    font-family: initial;
}

.bdfb_profile_li_tryfind {
    cursor: pointer;
    color: #0E4C92; /* Yale Blue */
}

.bdfb_profile_li_tryfind:hover {
    text-decoration: underline;
}

[data-__bdbook="true"] .timelineReportContainer a[aria-label="Edit"][data-hover="tooltip"] {
  margin-top: 23px;
}

.bdfb_profile_li > .bdfb_help {
  float: right;
  display: inline-block;
  font-size: 10px;
  line-height: 13px;
  color: #444;
  opacity: .3;
}

.bdfb_profile_li:hover > .bdfb_help {
  opacity: 1;
}
