

.bdfb_profile_li {
    padding: 4px 16px 4px 0;
}

.bdfb_profile_li > .bdfb_y {
    display: inline-block;
    width: 22px;
    padding-left: 2px;
    color: #0E4C92; /* Yale Blue */
    font-weight: bold;
    font-family: initial;
}


.bdfb_profile_li_tryfind {
    cursor: pointer;
    color: #0E4C92; /* Yale Blue */
}

.bdfb_profile_li_tryfind:hover {
    text-decoration: underline;
}
