
.bdb_box_wrapper {
    position: fixed;
    top: 40px;
    left: 50%;
    width: 600px;
    margin-left: -300px;

    background: white;

    padding: 10px 20px 20px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.7);
}

.bdb h1 {
  font-size: 2em;
  margin: 0.67em 0;
  font-weight: bold;
}

.bdb strong {
    font-weight: bold;
}

.bdb .status {
    margin: 10px 0;
    font-size: 1.1em;
}

.bdb_blackout {

}
