
.container {
    width: 960px;
    position: relative;
    left: 50%;
    margin-left: -480px;
}

.warning {
    padding: 7px;
    background: #FFFF99;
}

button {
    padding: 3px 9px 3px;
}

button.doit {
    color: #0bf;
}

.setup-status {
  color: #2A5;
  font-weight: bold;
  font-size: 14px;
}

.status-wrapper {
    padding: 7px;
    background: #EEE;

    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

section.picture {
  margin: 20px 0;
}

section.picture img {
  border: 1px solid #DDD;
  margin-top: 10px;
  display: block;
}

p {
  font-size: 13px;
}

section.notice p {
}

.status-wrapper p {
    margin: 0;
}

hr {
  border: 0;
  border-top: 1px solid #EEE;
  margin: 20px 0 ;
  height: 1px;
}

body:not(.setup) .ifsetup {
  display: none !important;
}

footer {
  margin-top: 20px;
  color: #222;
  margin-bottom: 20px;
}

a {
  color: #111;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
