
.container {
    width: 960px;
    position: relative;
    left: 50%;
    margin-left: -480px;
}

.warning {
    padding: 7px;
    background: #FFFF99;
}

button {
    padding: 3px 9px 3px;
}

button.doit {
    color: #0bf;
}

.status-wrapper {
    padding: 7px;
    background: #EEE;

    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.status-wrapper p {
    margin: 0;
}

